{{ define "terrains/about.html" }}

{{ template "base/headeradmin.html" . }}

{{ template "base/errors.html" . }}

{{/* printf "%#v" . */}}

<h1>A propos de Armatel Terrains 2024</h1>
<p>
    Conception et réalisation par Debreuil Systems SAS www.debreuil.fr
</p>

{{ end }}
