{{ define "terrains/autoclose.html" }}
<html>

<body onbeforeunload="refreshAndClose();">
    <script type="text/javascript">
        function refreshAndClose() {
            window.opener.location.reload(true);
            window.close();
        }
        //alert('close now ?');
        window.close();
    </script>

    <h1>Window should close automatically</h1>

</body>
</html>
{{end}}