{{ define "terrains/champs.html" }}
{{ template "base/headeradmin.html" . }}
{{ template "base/errors.html" . }}

{{/* printf "%#v" . */}}

<div class="card">

  <div class="card-header">
    Formulaire des champs du Terrain {{.ter.ID}}
  </div>

  <div class="card-body">
    <h5 class="card-title"></h5>
    <!-- <p class="card-text">le nom doit comporter 2 caractères minimum.</p>-->
    
    <form action="/admin/terrains/update" method="POST">
      <input type="hidden" name="id" id="id" value="{{.ter.ID}}">

      <div class='row'>
        <div class='col-md-12'>
          <button class="btn btn-primary" type="submit">Modifier</button>
          <button class="btn btn-secondary" type="button" onclick="javascript:window.history.back();">Retour</button>
        </div>
      </div>
      <input class='form-control' placeholder='ici le nom du terrain' type=hidden name='id' value="{{.ter.ID}}">


        <div class='row'>
          <div class='col-md-4'>Champ1</div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='ici le nom de la colonne' type=text name='champ1' value="{{.ter.Champ1}}">
          </div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='ici informations d aide...' type=text name='info_champ1' value="{{.ter.InfoChamp1}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>Champ2</div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='' type=text name='champ2' value="{{.ter.Champ2}}">
          </div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='ici informations d aide...' type=text name='info_champ2' value="{{.ter.InfoChamp2}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>Champ3</div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='' type=text name='champ3' value="{{.ter.Champ3}}">
          </div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='ici informations d aide...' type=text name='info_champ3' value="{{.ter.InfoChamp3}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>Champ4</div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='' type=text name='champ4' value="{{.ter.Champ4}}">
          </div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='ici informations d aide...' type=text name='info_champ4' value="{{.ter.InfoChamp4}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>Champ5</div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='' type=text name='champ5' value="{{.ter.Champ5}}">
          </div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='ici informations d aide...' type=text name='info_champ5' value="{{.ter.InfoChamp5}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>Champ6</div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='' type=text name='champ6' value="{{.ter.Champ5}}">
          </div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='ici informations d aide...' type=text name='info_champ6' value="{{.ter.InfoChamp6}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>Champ7</div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='' type=text name='champ7' value="{{.ter.Champ7}}">
          </div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='ici informations d aide...' type=text name='info_champ7' value="{{.ter.InfoChamp7}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>Champ8</div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='' type=text name='champ8' value="{{.ter.Champ8}}">
          </div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='ici informations d aide...' type=text name='info_champ8' value="{{.ter.InfoChamp8}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>Champ9</div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='' type=text name='champ9' value="{{.ter.Champ9}}">
          </div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='ici informations d aide...' type=text name='info_champ9' value="{{.ter.InfoChamp9}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-4'>Champ10</div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='' type=text name='champ10' value="{{.ter.Champ10}}">
          </div>
          <div class='col-md-4'>
            <input class='form-control' placeholder='ici informations d aide...' type=text name='info_champ10' value="{{.ter.InfoChamp10}}">
          </div>
        </div>
    </form>
  </div>

  <div class="card-footer text-muted">
    Date de création: {{ printf "%.*s" 19 .ter.CreatedAt}}
  </div>
</div>


{{ template "base/footer.html" . }}
{{ end }}
