{{ define "terrains/create.html" }}
{{ template "base/headeradmin.html" . }}
{{ template "base/errors.html" . }}

{{/* printf "%#v" . */}}

<div class="card">
  <div class="card-header">
    Formulaire de création d'un nouveau Terrain
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    
    <form action="/admin/terrains/create" method="POST">

      <div class="labeled-input">
        <label for="nom">nom:</label>
        <input type="text" name="nom" id="title">
      </div>

      <button class="btn btn-primary" id="form-username" type="submit">Créer</button>

    </form>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>


{{ template "base/footer.html" . }}
{{ end }}
