{{ define "terrains/csv.html" }}
{{ template "base/headeradmin.html" . }}
{{ template "base/errors.html" . }}

<div class="card">
    <div class="card-header">
      Formulaire <i class="fa fa-file-excel" aria-hidden="true"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">Sélectionner un Fichier de Réponses</h5>
      <p class="card-text">le fichier doit être au format CSV</p>
        <form action="/admin/terrains/uploadcsv" method="POST"  enctype="multipart/form-data">

            <div class="labeled-input">
                <label for="form-username"><h4>Fchier:</h4></label>
                <input name="file" placeholder="Username..." class="form-username form-control" id="form-username" type="file" required>
                <input type="hidden" name="id" value="">
            </div>

            <button class="btn btn-primary" id="form-username" type="submit">Importer</button>

            {{ .csrfField }}
        </form>
    </div>
    <div class="card-footer text-muted">
    Actuellement 10 fichiers importés
    </div>
</div>

<br>

<div class="card">
    <div class="card-header">
      Formulaire <i class="fa fa-file-excel" aria-hidden="true"></i>
    </div>
    <div class="card-body">
      <h5 class="card-title">Sélectionner un Fichier d'avancement</h5>
      <p class="card-text">le fichier doit être au format CSV</p>
        <form action="/admin/terrains/uploadcsv" method="POST"  enctype="multipart/form-data">

            <div class="labeled-input">
                <label for="form-username"><h4>Fchier:</h4></label>
                <input name="file2" placeholder="Username..." class="form-username form-control" id="form-username" type="file" required>
                <input type="hidden" name="id" value="">
            </div>

            <button class="btn btn-primary" id="form-username" type="submit">Importer</button>

            {{ .csrfField }}
        </form>
    </div>
    <div class="card-footer text-muted">
    Actuellement 10 fichiers importés
    </div>
</div>


{{ template "base/footer.html" . }}
{{ end }}
