{{ define "terrains/index.html" }}

{{ template "base/headeradmin.html" . }}

{{ template "base/errors.html" . }}

{{/* printf "%#v" . */}}

<h1>Liste de tous les Terrains</h1>

<div>
  
<table class="table table-striped table-bordered table-sortable table-responsive">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Client</th>
      <th>Etude</th>
      <th>Objectif</th>
      <th>Créé</th>
      <th>Etat</th>
      <th>Logo1</th>
      <th>Logo2</th>
      <th>Mot de<br>passe</th>
      <th>Champs</th>      
      <th>Modifier</th>
      <th>Supprimer</th>

    </tr>
  </thead>
  <tbody>
    {{ range .terrains }}
    <tr>
      <td>
        <a href="/admin/terrains/view/{{.ID}}" title="Modifer">
          <p style="color: red; font-size: 8px bold">
          {{ .ID }}
          </p>
        </a>
      </td>
      <td class="table-success">
        <a href='/admin/terrains/ecoutes/{{.ID}}' title="Ecoutes">{{ .Nom }}</a></td>
      </td>
      <td>{{ .Client }}</td>
      <td>{{ .Etude }}</td>
      <td>{{ .Objectif }}</td>
      <td>
        <p style="color: green; font-size: 12px bold">
          {{ printf "%.*s" 10 .CreatedAt }}
          <!--
          Début : {{ printf "%.*s" 10 .DateDebut }}
          Fin : {{ printf "%.*s" 10 .DateFin }}
          -->
        </p>
      </td>
      <td>{{ .Etat }}</td>
      <!-- 
        
        <td><a href="/admin/terrains/ecoutes/{{.ID}}"><i class="fa fa-file-audio" aria-hidden="true"></i></a></td> 
        
        window.open("https://www.google.com", "_blank", "toolbar=no, location=no, directories=no,status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=yes, width=600, height=600");

        <a href title="Voir le LOGO" onclick="window.open ('/admin/terrains/viewlogo/{{.ID}}','pop','toolbar=no, location=no, directories=no,status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no,width=350,height=250');"><i class="fa fa-file-audio"></i></a>
        
        <a href='/admin/terrains/viewlogo/{{.ID}}'><i class="fa fa-file-audio"></i></a>
        
        <td><a href="/admin/terrains/uploadlogo/{{.ID}}" title="Import LOGO"><i class="fa fa-image" aria-hidden="true"></i></a></td>

      -->

      <td>
        <a href title="Voir le LOGO1" onclick="PopupUrl('/admin/terrains/uploadlogo1/{{.ID}}','pop',550,350);">
        <i class="fa fa-download"></i>
        </a>
        {{ if (gt .IdLogo1 0) }}
        {{ .IdLogo1 }}
        {{ end }}
        <iframe src = "/admin/terrains/viewlogo1/{{.IdLogo1}}" width="80" height="80"></iframe>
      </td>

      
      <td>
        <a href title="Voir le LOGO2" onclick="PopupUrl('/admin/terrains/uploadlogo2/{{.ID}}','pop',550,350);">
        <!--
        <a href title="Upload LOGO2" onclick="window.open ('/admin/terrains/uploadlogo2/{{.ID}}','pop','toolbar=no, location=no, directories=no,status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no,width=350,height=250');">
        -->
          <i class="fa fa-download"></i>
        </a>
        {{ if (gt .IdLogo2 0) }}
        {{ .IdLogo2 }}
        {{ end }}
        <iframe src = "/admin/terrains/viewlogo2/{{.IdLogo2}}" width="80" height="80"></iframe>
      </td>


      
      </td>
      <td><a href="/admin/terrains/passwd/{{.ID}}" title="Import CSV"><i class="fa fa-key" aria-hidden="true"></i></a></td>


      <td><a href="/admin/terrains/champs/{{.ID}}" title="Définir les champs"><i class="fa fa-circle" aria-hidden="true"></i></a></td>

      <td>
        <a href="/admin/terrains/view/{{.ID}}" title="Modifer">
          <i class="fa fa-edit" aria-hidden="true"></i>
      </a>
      </td>
      <td><a href="/admin/terrains/delete/{{.ID}}" class="btn disabled" aria-disabled="true"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      
    </tr>
    {{ end }}

  </tbody>
</table>



{{ template "base/footer.html" . }}

<script>
  function PopupUrl(url, name, width, height) {
    var top = parseInt((screen.availHeight / 2) - (height / 2));
    var left = parseInt((screen.availWidth / 2) - (width / 2));
    var features = "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no, width=" + width + ", height=" + height + ", top=" + top + ", left=" + left;
    window.open(url, name, features);
}
</script>
{{ end }}
