{{ define "terrains/logo.html" }}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Armatel</title>

    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>
<body class="container">
    
<div class="card">

    <div class="card-header">
      Formulaire de chargement du logo du Terrain {{.id}}
    </div>

    <div class="card-body">
      <h5 class="card-title">Sélectionner un Fichier image</h5>
      <p class="card-text">le fichier doit être au format PNG ou JPEG</p>
        <form action="/admin/terrains/uploadlogo" method="POST"  enctype="multipart/form-data">

            <div class="labeled-input">
                <label for="form-username"><h4>Fchier:</h4></label>
                <input name="file" placeholder="fichier..." class="form-username form-control" id="form-username" type="file" required>
                <input type="hidden" name="id" value="{{.id}}">
            </div>

            <button class="btn btn-primary" id="form-username" type="submit">Importer</button>

            {{ .csrfField }}
        </form>
    </div>

    <div class="card-footer text-muted">
        Actuellement 10 fichiers importés
    </div>

</div>

<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/tablesort.js"></script>
</body>
</html>

{{ end }}
