{{ define "terrains/passwd.html" }}
{{ template "base/headeradmin.html" . }}
{{ template "base/errors.html" . }}



<div class="card">

  <div class="card-header">
    Formulaire de modification du mot de passe du Terrain {{.id}}
  </div>

  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Régle du mot de passe.</p>
    
    <div class="form-bottom">

      <form role="form" action="/admin/terrains/updatepwd" method="post" class="login-form">

        
        <div class="form-group">
          <label for="form-password">Mot de passe</label>
          <input name="newpwd" placeholder="ici entrez le nouveau mot de passe..." class="form-password form-control" id="form-password" type="password" required>
          <input type="hidden" name="id" id="id" value="{{.id}}">
        </div>

        <br>

        <div class="form-group">
        <button type="submit" class="btn btn-primary">Valider</button>
        <button class="btn btn-secondary" type="button" onclick="javascript:window.history.back();">Retour</button>
        {{ .csrfField }}
        </div>

      </form>

    </div>

  </div>

  <div class="card-footer text-muted">
    Actuellement 10 terrains
  </div>
</div>

{{ template "base/footer.html" . }}
{{ end }}
