{{ define "terrains/view.html" }}
{{ template "base/headeradmin.html" . }}
{{ template "base/errors.html" . }}

<div class="card">

  <div class="card-header">
    Formulaire de modification du Terrain {{.ter.ID}}
  </div>

  <div class="card-body">
    <h5 class="card-title"></h5>
    <!-- <p class="card-text">le nom doit comporter 2 caractères minimum.</p>-->
    
    <form action="/admin/terrains/update" method="POST">
      <input type="hidden" name="id" id="id" value="{{.ter.ID}}">

      <div class='row'>
        <div class='col-md-6'>Action</div>
        <div class='col-md-6'>
          <button class="btn btn-primary" type="submit">Modifier</button>
          <button class="btn btn-secondary" type="button" onclick="javascript:window.history.back();">Retour</button>
        </div>
      </div>
      <input class='form-control' placeholder='ici le nom du terrain' type=hidden name='id' value="{{.ter.ID}}">

        <div class='row'>
          <div class='col-md-6'>Nom</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='ici le nom du terrain' type=text name='nom' value="{{.ter.Nom}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Client</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='ici le nom du client' type=text name='client' value="{{.ter.Client}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Etude</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='ici le nom de l étude' type=text name='etude' value="{{.ter.Etude}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Objectif</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='nombre à faire' type=text name='objectif' value="{{.ter.Objectif}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Réalisés</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='nombre à faire' type=text name='realises' value="{{.ter.Realises}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Date de début</div>
          <div class='col-md-6'>
            <input type="date" name='date_debut' data-date="" data-date-format="DD MMMM YYYY" value='{{ printf "%.*s" 10 .ter.DateDebut }}'>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Date de fin</div>
          <div class='col-md-6'>
            <!-- 
              <input class='form-control' placeholder='date de fin' type=text name='date_fin' value='{{ printf "%.*s" 10 .ter.DateFin }}'>
            <input type="date" data-date="" data-date-format="DD MMMM YYYY" value="2015-08-09">
            -->
            <input type="date" name='date_fin' data-date="" data-date-format="DD MMMM YYYY" value='{{ printf "%.*s" 10 .ter.DateFin }}'>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Etat</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='état du terrain' type=text name='etat' value="{{.ter.Etat}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Champ1</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='' type=text name='champ1' value="{{.ter.Champ1}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Champ2</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='' type=text name='champ2' value="{{.ter.Champ2}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Champ3</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='' type=text name='champ3' value="{{.ter.Champ3}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Champ4</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='' type=text name='champ4' value="{{.ter.Champ4}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Champ5</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='' type=text name='champ5' value="{{.ter.Champ5}}">
          </div>
        </div>


    </form>
  </div>

  <div class="card-footer text-muted">
    {{/* printf "%#v" .ter */}}
    Date de création: {{ printf "%.*s" 10 .ter.CreatedAt }} - Date de modification: {{printf "%.*s" 10 .ter.UpdatedAt}}
  </div>
</div>

{{/* printf "%#v" . */}}

{{ template "base/footer.html" . }}
{{ end }}
