{{ define "terrains/viewlogo1.html" }}

<!-- 
    <h1>Logo du Terrain {{.ID}}</h1>
-->
<!-- 
<a href title="Voir le LOGO2" onclick="PopupUrl ('/admin/terrains/uploadlogo/{{.ID}}','pop',550,350);">
-->

    <img class="my_img" src="data:image/png;base64,{{.ImageDataBase64}}" alt="Logo du Terrain {{.ID}}" width="45"/>
<!-- 
</a>
-->


<script>
    function PopupUrl(url, name, width, height) {
      var top = parseInt((screen.availHeight / 2) - (height / 2));
      var left = parseInt((screen.availWidth / 2) - (width / 2));
      var features = "toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no, width=" + width + ", height=" + height + ", top=" + top + ", left=" + left;
      window.open(url, name, features);
  }
</script>

{{ end }}
