{{ define "audios/audio.html" }}

{{ template "base/headeradmin.html" . }}

{{/* printf "%#v" . */}}

<h1>Audio No {{.audio.ID}}</h1>
<div>

    <audio controls controlsList="nodownload" src="data:audio/wav;base64,{{.AudioDataBase64}}">

    </audio>
    {{ printf "%#v" . }}

</div>
  
{{ template "base/footer.html" . }}
{{ end }}
