{{ define "audios/audioinframe.html" }}
<body oncontextmenu="return false">
<audio autoplay controls  controlsList="nodownload" src="data:audio/wav;base64,{{.AudioDataBase64}}"></audio>
<p>Audio No {{.audio.ID}} Terrain {{ .username }} </p>
<button style="height:100px;width:200px" onclick="self.close()">Fermer</button>
</body>
{{ end }}