{{ define "audios/index.html" }}

{{ template "base/headeradmin.html" . }}

{{/* printf "%#v" . */}}

<h1>Liste des {{ .nb }} fichiers audios</h1>
<div>

<table class="table table-striped table-bordered table-sortable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Audio <i class="fa fa-file-audio"></i></th>
      <th>Fichier <i class="fa fa-file"></i></th>
      <th>Création <i class="fa fa-calendar"></i></th>
    </tr>
  </thead>
  <tbody>
    {{- range $INDEX, $item := $.audios }}
    <tr>
      <td>
        <span class="badge bg-info">{{ $item.ID }}</span>
    </td>
      <td>
        
        <a href title="audio No {{ $item.ID }}" onclick="window.open ('/admin/audio/inframe/{{ $item.ID }}','pop','toolbar=no, location=no, directories=no,status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no,width=350,height=250');">
            <i class="fa fa-music"></i>
        </a>

      </td>
      <td>{{ .AudioFilename }}</td>
      <td>{{ printf "%.*s" 10 .CreatedAt }}</td>
    </tr>
    {{ end }}

  </tbody>
</table>

{{ template "base/footer.html" . }}

{{ end }}
