{{ define "base/footer.html" }}


<!--<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#demo">Collapsible</button>
<div id="demo" class="collapse">
  {{ printf "%#v" . }}
</div>
<a href="/" data-bs-toggle="collapse"  data-bs-target="#homeSubmenu" aria-expanded="false" class="dropdown-toggle">
  debug
</a>-->
<ul class="collapse list-unstyled" id="homeSubmenu">
  <li>
    <p>
      {{ printf "%#v" . }}
    </p>
  </li>
  <!-- <li>
      <a href="#">Home 2</a>
  </li>
  <li>
      <a href="#">Home 3</a>
  </li>-->
</ul>

</div> <!--  <div class="container-fluid">  -->

  <br>
  <br>
  <br>

  <!-- Footer -->
<footer class="footer bg-light">
  <div class="container-fluid bg-footer">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="/about">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/contact">Contact <i class="fa fa-envelope fa-fw"></i></a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/tos">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/privacy">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="/" data-bs-toggle="collapse"  
              data-bs-target="#homeSubmenu" aria-expanded="false">dbg</a>
          </li>
        </ul>
        
        
      </div>
      <div class="col-lg-2 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item mr-3">
            <a href="https://www.debreuil.fr">
              <p class="text-muted small mb-4 mb-lg-0"><img src="/static/img/ds.png" width="62"> &copy; 2024</p> 
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a title="Scroll back to top" aria-label="Scroll back to top" rel="nofollow" 
            href="#" data-scroll-speed="400" data-start-scroll="300">
            <p class="text-muted small mb-4 mb-lg-0">Top</p>
            </a>

          </li>
        </ul>
      </div>
      
    </div>
  </div>
</footer>

{{/* printf "%#v" . */}}

<!-- Bootstrap core JavaScript -->

  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/tablesort.js"></script>

  <script>
      // The function below will start the confirmation dialog
      function confirmAction() {
        let confirmAction = confirm("Are you sure to execute this action?");
        if (confirmAction) {
          alert("Action successfully executed");
        } else {
          alert("Action canceled");
        }
      }
  </script>

    <!-- BOOTSTRAP JS BUNDLE 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    -->
  </body>

</html>

{{ end }}
