{{ define "base/headerclient.html" }}

<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Armatel</title>

  <!-- Bootstrap core CSS 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template 
  <link href="/static/css/landing-page.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/main.css"> -->
  <link rel="stylesheet" href="/static/css/styles.css"> 
</head>

<body oncontextmenu="return false">
  <title>{{ .title }}</title>
  <!-- Navigation -->
    <!-- NAVBAR -->
    <!-- navbar wrapping -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://armatis-insights.fr/"><img src="/static/img/armatis-logo.png" width="63"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link" href="/client/home" tabindex="-1" aria-disabled="true"><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/client/view/{{ .username }}" tabindex="-1" aria-disabled="true"><i class="fa fa-music" aria-hidden="true"></i></a>
            </li>
            {{ if  .username }}
            <li class="nav-item">
              <a class="nav-link" href="/client/logout" tabindex="-1" aria-disabled="true">logout {{ .username }}</a>
            </li>
            {{ else }}
            <li class="nav-item">
              <a class="nav-link" href="/client/logout" tabindex="-1" aria-disabled="true">logout {{ .username }}</a>
            </li>
            {{ end }}

          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="..." aria-label="Rechercher">
            <button class="btn btn-outline-success" type="submit">Rechercher</button>
          </form>
        </div>
      </div>
    </nav>
  <hr>

  {{/* printf "%#v" . */}}

  {{ if .messages }}
    {{ range .messages }}
      <div class="flash-message" role="alert">
          {{ . }}
      </div>
    {{ end }}
  {{ end }}
  
  {{ if .success }}
  <div class="alert alert-success" role="alert">
    {{ .success }}
  </div>
  {{ end }}
  
  {{ if .warning }}
  <div class="alert alert-warning" role="alert">
    {{ .warning }}
  </div>
  {{ end }}

  <div class="container-fluid">

{{ end }}
