{{ define "login/formadmin.html" }}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Armatel</title>
    <link rel="stylesheet" href="/static/css/loginstyle.css">
</head>

<body>
  <div class="main">    
        <img src="/static/img/armatis-logo.png" width="63">

<script>

  var checkForm = function(form) {
      if(!form.terms.checked) {
        alert("Please indicate that you accept the Terms and Conditions");
        form.terms.focus();
        return false;
      }
      return true;
  };
  
  /*document.getElementById("submit").disabled = true;
  
  function agree() {
      alert('agree')
      if (document.getElementById('agree').checked) {
          document.getElementById("submit").disabled = false;
      } else {
          document.getElementById("submit").disabled = true;
      }
  }*/
      
</script>
  
<body>

  <h1>Connexion Administrateur</h1>

  <h5>L'accès à ce système est limité aux utilisateurs autorisés.</h5>
  <p style="color: #311e75; font-size: 10px">
      Unauthorized or improper use of this system may result in administrative disciplinary action, 
      civil charges/criminal penalties, and/or other sanctions as set forth in the law.
      By continuing to use this system you indicate your awareness of and consent to these terms and conditions of use.
      LOG OFF IMMEDIATELY if you do not agree to the conditions stated in this warning.
  </p>



  <form role="form" action="" method="post" onsubmit="return checkForm(this);">
    <label for="first">
        Terrain:
    </label>
    <input type="text" 
            id="username"
            name="username" 
            placeholder="Ici le login" required>

    <label for="password">
        Mot de passe:
    </label>
    <input type="password"
            id="password" 
            name="password" 
            placeholder="Ici le mot de passe" required>

    <div class="wrap">
        <!-- <input id="submit" type="submit" name="submit" onclick="" value="Entrer"> -->
        <button id="submit" type="submit" name="submit"  onclick="">
            Entrer
        </button>
    </div>

    <p style="color: #311e75; font-size: 10px"><input type="checkbox" name="terms">
                I accept the <u>Terms and Conditions</u>
    </p>
    {{ .csrfField }}
  </form>

  <a class="navbar-brand" href="/client/login">Login Client</a>
  <a class="navbar-brand" href="/admin/login">Login Administrateur</a>
  
  </div>
  </body>
  </html>
  
  
  {{ end }}