{{ define "login/homeadmin.html" }}

{{ template "base/headeradmin.html" . }}

{{ template "base/errors.html" . }}

{{/* printf "%#v" . */}}

<center>
  <h2>Interface admin de consultation et réécoute de Armatis Insights</h2>
  <h3>Bienvenue "{{.user.Username }}" </h2>
</center>

<div class="card">
  <div class="card-header">
    <h5>term of use</h5>
  </div>

  <div class="card-body">
    <h5 class="card-title">Please read instructions</h5>
    <p class="card-text"></p>
  
      <div class='row'>
        <div class='col-md-12'>
          <p>
            Unauthorized or improper use of this system may result in administrative disciplinary action, 
            civil charges/criminal penalties, and/or other sanctions as set forth in the Law.
            By continuing to use this system you indicate your awareness of and consent to these terms and conditions of use.

          </p>
        </div>
      </div>
  </div>

  <div class="card-footer text-muted">Dernier login le:  {{ printf "%.*s" 19 .user.LastLoggedAt }}
    - {{ .user.Email }}
  </div>
</div>
<br>

{{ template "base/footer.html" . }}
{{ end }}
