{{ define "login/privateadmin.html" }}

{{ template "header" . }}

<h1>Bienvenue :)</h1>

<h3>vous êtes bien mode secure Administrateur</h3>


<a href="/admin/login">login Administrateur</a>

<a href="/client/login">login Client</a>

<a href="/admin/home">page privée admin</a>

<a href="/client/home">page privée client</a>

<a href="/admin/logout">logout Administrateur</a>

<a href="/client/logout">logout Client</a>

{{ end }}