{{ define "login/publicpage.html" }}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Armatel</title>
    <link rel="stylesheet" href="/static/css/loginstyle.css">
</head>

<body>
    
    <div class="main">    
        <img src="/static/img/armatis-logo.png" width="63">

        <h1>Bienvenue sur la page publique de Armatel</h1>

        {{ if .messages }}
        {{ range .messages }}
            <div class="flash-message" role="alert">
                {{ . }}
            </div>
        {{ end }}
        {{ end }}
    
        {{ if .success }}
        <div class="alert alert-success" role="alert">
        {{ .success }}
        </div>
        {{ end }}
    
        {{ if .warning }}
        <div class="alert alert-error" role="alert">
        {{ .warning }}
        </div>
        {{ end }}

        <h5>L'accès à ce système est limité aux utilisateurs autorisés.</h5>
        <p style="color: #311e75; font-size: 10px">
            Unauthorized or improper use of this system may result in administrative disciplinary action, 
            civil charges/criminal penalties, and/or other sanctions as set forth in the law.
            By continuing to use this system you indicate your awareness of and consent to these terms and conditions of use.
            LOG OFF IMMEDIATELY if you do not agree to the conditions stated in this warning.
        </p>


        <a class="navbar-brand" href="/client/login">Login Client</a>
        <a class="navbar-brand" href="/admin/login">Login Administrateur</a>

        <!--
        <a class="navbar-brand" href="/client/logout">logout Client</a>
        <a class="navbar-brand" href="/admin/logout">logout Administrateur</a>

        <a class="navbar-brand" href="/admin/home">home Administrateur</a>
        <a class="navbar-brand" href="/client/home">home client</a>
        -->

    </div>





    
</body>
{{ end }}