{{ define "client/accueil.html" }}

{{ template "base/headerclient.html" . }}

{{ template "base/errors.html" . }}

<center>
<h2>Bienvenue sur l'interface de consultations et réécoute de Armatis</h2>
</center>

<div class="card">
  <div class="card-header">
    <h5>Term of use</h5>
  </div>

  <div class="card-body">
    <h5 class="card-title">Please read instructions</h5>
    <p class="card-text"></p>
  
      <div class='row'>
        <div class='col-md-12'>
          <p>
            Unauthorized or improper use of this system may result in administrative disciplinary action, 
            civil charges/criminal penalties, and/or other sanctions as set forth in the Law.
            By continuing to use this system you indicate your awareness of and consent to these terms and conditions of use.

          </p>
        </div>
      </div>
  </div>

  <div class="card-footer text-muted">Dernier login le:   </div>
</div>
<br>


{{ template "base/footer.html" . }}
{{ end }}
