{{ define "client/index.html" }}

{{ template "base/headerclient.html" . }}

{{/* printf "%#v" . */}}

{{/* printf "%#v" $.terrain */}}

<div class="card">

  <div class="card-header">
    <div class='row'>
      <div class='col-md-2'>
        <iframe src = "/client/terrains/viewlogo1/{{$.terrain.IdLogo1}}" width="100" height="100"></iframe>
      </div>
      <div class='col-md-8'>
        <h3>Point global d'avancement du terrain {{$.terrain.ID}} </h3>
        <h5>Etude: {{$.terrain.Etude}} </h5>
        <h5>Client: {{$.terrain.Client}} </h5>
      </div>
      <div class='col-md-2'>
        <iframe src = "/client/terrains/viewlogo1/{{$.terrain.IdLogo2}}" width="100" height="100"></iframe>
      </div>
    </div>

  </div>

  <div class="card-body">
    <h5 class="card-title">
      <h5>Point terrain du : {{$.maintenant}}</h5>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width:{{$.pourcentage}}%">
            {{$.pourcentage}}% réalisés
          </div>
          <div class="progress-bar bg-danger" role="progressbar" style="width:{{$.a_faire}}%">
            {{$.a_faire}}% restants
          </div>
        </div>
    </h5>

    <p class="card-text">
      <div class='row'>
        <div class='col-md-3'>Réalisés</div>
        <div class='col-md-3'>
          <input disabled class='form-control' placeholder='id terrain' type=text name='realises' value="{{$.terrain.Realises}}">
        </div>
        <div class='col-md-3'>Objectif</div>
        <div class='col-md-3'>
          
          <input disabled class='form-control' placeholder='id terrain' type=text name='objectif' value="{{$.terrain.Objectif}}">
        </div>
      </div>
    </p>
  </div>
  <div class="card-footer text-muted">
    {{$.terrain.ID}} Date de création {{ printf "%.*s" 10 $.terrain.CreatedAt }} - Dernière modification {{printf "%.*s" 19 $.terrain.UpdatedAt}}
  </div>
</div>

<br>

<h3>Liste des écoutes du terrain {{ $.idTerrain }}</h3>

<button type="button" class="btn btn-primary position-relative">
  Ecoutes
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    {{.nb}}
    <span class="visually-hidden">unread messages</span>
  </span>
</button>
  
<table class="table table-striped table-bordered table-sortable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Audio</th>
      <th>Sentiment</th>
      <th>Annotation</th>
      <th>date de<br>Création</th>
      {{ if $.terrain.Champ1}}
      <th>{{$.terrain.Champ1}}</th>
      {{ end }}
      {{ if $.terrain.Champ2}}
      <th>{{$.terrain.Champ2}}</th>
      {{ end }}
      {{ if $.terrain.Champ3}}
      <th>{{$.terrain.Champ3}}</th>
      {{ end }}
      {{ if $.terrain.Champ4}}
      <th>{{$.terrain.Champ4}}</th>
      {{ end }}
      {{ if $.terrain.Champ5 }}
      <th>{{$.terrain.Champ5}}</th>
      {{ end }}
    </tr>
  </thead>
  <tbody>
    {{- range $INDEX, $item := $.ecoutes }}
    <tr align='center'>
      <td>
        <h4>
          <span class="badge bg-warning">
            {{ $item.ID }}
          </span>
        </h4>
  
      <td class="table-primary">
        {{/* printf "%#v" $.ecoutes */}}
        <!--
          <iframe src = "/admin/audio/{{.IdAudio}}" width="180" height="180"></iframe>

                  <a href title="Voir le LOGO1" onclick="PopupUrl('/admin/terrains/uploadlogo1/{{.ID}}','pop',550,350);"></a>
        <a href="/admin/audio/{{.IdAudio}}" width="180" height="180" title="{{ $item.IdAudio }}">
          <i class="fa fa-music" aria-hidden="true"></i></a>

          <a href title="Voir le LOGO1" onclick="PopupUrl('/admin/audio/{{.IdAudio}}','pop',550,350);">
            <i class="fa fa-music" aria-hidden="true"></i></a>

          -->
        {{ if (gt $item.IdAudio 0) }}
        <a href title="audio No {{ $item.IdAudio }}" 
        onclick="window.open ('/client/{{$.terrain.ID}}/audio/inframe/{{.IdAudio}}','pop','toolbar=no, location=no, directories=no,status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no,width=350,height=250');">
          <i class="fa fa-music"></i>
        </a>
        {{ end }}

      </td>
      <td >
        {{ if (gt $item.Sentiment 0) }}
        {{ if (eq $item.Sentiment 1) }}
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 2) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 3) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 4) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 5) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ end }}
        {{ end }}
      </td>
      <td>{{ .Annotation }}</td>
      <td>
        {{ printf "%.*s" 10 $item.CreatedAt }}
      </td>
      <td>{{ .Champ1 }}</td>
      <td>{{ .Champ2 }}</td>
    
      {{ if $.terrain.Champ3 }}
      <td>{{ .Champ3 }}</td>
      {{ end }}
      {{ if $.terrain.Champ4 }}
      <td>{{ .Champ4 }}</td>
      {{ end }}
      {{ if $.terrain.Champ5 }}
      <td>{{ .Champ5 }}</td>
      {{ end }}
      
    </tr>
    {{ end }}

  </tbody>
</table>

{{ template "base/footer.html" . }}

{{ end }}
