{{ define "client/view.html" }}

{{ template "base/headerclient.html" . }}

{{ template "base/errors.html" . }}

{{/* printf "%#v" . */}}

<div class="card">

  <div class="card-header">
    Point global d'avancement du terrain {{.avancement.id_terrain}} {{.logo1}} {{.logo2}}
    <iframe src = "/client/terrains/viewlogo1/{{.logo1}}" width="80" height="80"></iframe>
    <iframe src = "/client/terrains/viewlogo2/{{.logo2}}" width="80" height="80"></iframe>
  </div>

  <div class="card-body">
    <h5 class="card-title">Terrain {{.id}}</h5>
    <p class="card-text"></p>
  
      <div class='row'>
        <div class='col-md-6'>Réalisés</div>
        <div class='col-md-6'>
          <input class='form-control' placeholder='id terrain' type=text name='objectif' value="{{.avancement.realises}}">
        </div>
      </div>

      <div class='row'>
        <div class='col-md-6'>Date de mise à jour</div>
        <div class='col-md-6'>
          <input class='form-control' placeholder='id terrain' type=text name='objectif' value="{{.avancement.date_creation}}">
        </div>
      </div>

  </div>

  <div class="card-footer text-muted">
    Date de création {{ printf "%.*s" 10 .CreatedAt }} - Dernière modification {{.UpdatedAt}}
  </div>
</div>

<br>

<div class="card">

  <div class="card-header">
    Ecoutes du terrain {{.avancement.id_terrain}}
  </div>

  <div class="card-body">
    <h5 class="card-title">Terrain {{.id}}</h5>
    <p class="card-text"></p>
    
    <table class="table table-striped table-bordered table-sortable">
      <thead>
        <tr>
          <th>ID</th>
          <th>AudioFilename</th>
          <th>Id audio</th>
          <th>Sentiment</th>
          <th>Annotation</th>
          <th>date de<br>Création</th>
          <th>Champ1</th>
          <th>Champ2</th>
        </tr>
      </thead>
      <tbody>
        {{- range $INDEX, $item := $.ecoutes }}
        <tr>
          <td>{{ $item.ID }}</td>
          <td class="table-primary">
            
            
              <audio src="/stream/{{ $.idTerrain }}/{{ $item.AudioFilename }}" controls preload="metadata" controlsList="nodownload" oncontextmenu="return false;" >
              <span class="ko">&lt;audio&gt; non supporté !</span>
              </audio>
            <!-- preload: The allowed values are nodownload, nofullscreen and noremoteplayback.
              <a href="/stream/{{ $.idTerrain }}/{{ $item.AudioFilename }}">/stream/{{ $.idTerrain }}/{{ $item.AudioFilename }}</a><br>
              <audio controls autoplay loop src="data:audio/wav;base64,{{.AudioDataBase64}}"> -->
            <!-- <img src="data:image/png;base64,{{.ImageDataBase64}}" alt="Terrain {{.ID}}" width="55"/>  -->
    
          </td>
          <td>{{ $item.IdAudio }}</td>
          <td>
            {{ if (eq $item.Sentiment "1") }}
            <img src="/static/img/yellow_star.gif">
            {{ else if (eq $item.Sentiment "2") }}
            <img src="/static/img/yellow_star.gif">
            <img src="/static/img/yellow_star.gif">
            {{ else if (eq $item.Sentiment "3") }}
            <img src="/static/img/yellow_star.gif">
            <img src="/static/img/yellow_star.gif">
            <img src="/static/img/yellow_star.gif">
            {{ else if (eq $item.Sentiment "4") }}
            <img src="/static/img/yellow_star.gif">
            <img src="/static/img/yellow_star.gif">
            <img src="/static/img/yellow_star.gif">
            <img src="/static/img/yellow_star.gif">
            {{ else if (eq $item.Sentiment "5") }}
            <img src="/static/img/yellow_star.gif">
            <img src="/static/img/yellow_star.gif">
            <img src="/static/img/yellow_star.gif">
            <img src="/static/img/yellow_star.gif">
            <img src="/static/img/yellow_star.gif">
            {{ end }}
          </td>
          <td>{{ .Annotation }}</td>
          <td>{{ .CreatedAt }}</td>
          <td>{{ .Champ1 }}</td>
          <td>{{ .Champ2 }}</td>
          
        </tr>
        {{ end }}
    
      </tbody>
    </table>

  </div>

  <div class="card-footer text-muted">
    
  </div>
</div>

{{ template "base/footer.html" . }}
{{ end }}
