{{ define "ecoutes/all.html" }}

{{ template "base/headeradmin.html" . }}

<h1>Liste des écoutes de tous les terrains</h1>
<div>
  
<table class="table table-striped table-bordered table-sortable">
  <thead>
    <tr align="center">
      <th>ID</th>
      <th>Terrain</th>
      <th>Audio <i class="fa fa-file-audio"></i></th>
      <th>Sentiment</th>
      <th>Annotation</th>
      <th>Création <i class="fa fa-calendar"></i></th>
      <th>Modification <i class="fa fa-calendar"></i></th>
    </tr>
  </thead>
  <tbody>
    {{- range $INDEX, $item := $.ecoutes }}
    <tr align="center">
      <td><span class="badge bg-info">{{ $item.ID }}</span>
        <a href="/admin/ecoutes/update/{{ $item.ID }}" width="180" height="180" title="{{ $item.ID }}">
          <i class="fa fa-edit" aria-hidden="true"></i>
        </a>
      </td>

      </td>
      <td>{{ $item.IdTerrain }}</td>
  
      <td class="table-primary">
        {{ if (gt $item.IdAudio 0) }}
        <a href title="audio No {{ $item.IdAudio }}" onclick="window.open ('/admin/audio/inframe/{{ $item.IdAudio }}','pop','toolbar=no, location=no, directories=no,status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no,width=350,height=250');">
          <i class="fa fa-music"></i>
        </a>
        {{ end }}
      </td>
      <td>
        {{ if (gt $item.Sentiment 0) }}
        {{ if (eq $item.Sentiment 1) }}
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 2) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 3) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 4) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 5) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ end }}
        {{ end }}
      </td>
      <td>{{ $item.Annotation }}</td>
      <td>{{ printf "%.*s" 10 $item.CreatedAt }}</td>
      <td>{{ printf "%.*s" 10 $item.UpdatedAt }}</td>
      <td>
        <a href="/admin/ecoutes/delete/{{ $item.ID }}" width="180" height="180" title="Supprimer {{ $item.ID }}">
          <img src="/static/img/b_drop.png">
        </a>
      </td>
    </tr>
    {{ end }}

  </tbody>
</table>

{{ template "base/footer.html" . }}

{{ end }}
