{{ define "ecoutes/formulaire.html" }}
{{ template "base/headeradmin.html" . }}
{{ template "base/errors.html" . }}

{{/* printf "%#v" . */}}
{{/* printf "%#v" .ecoute */}}
<div class="card">

  <div class="card-header">
    {{ if  (eq .creation "yes") }}
    Formulaire de création d'une écoute
    {{ else }}
    Formulaire de modification de l 'écoute 
    <span class="badge bg-info">
      {{ $.ecoute.ID }}
    </span>
    {{ end }}
    
  </div>

  <div class="card-body">
    
    {{ if  (eq .creation "yes") }}
    <form action="/admin/ecoutes/create/" method="POST" enctype="multipart/form-data">
      {{ else }}
      <form action="/admin/ecoutes/update/{{ .ecoute.ID }}" method="POST" enctype="multipart/form-data">
      {{ end }}

      

      <div class='row'>
        <div class='col-md-6'>Action</div>
        <div class='col-md-6'>
          {{ if  (eq .creation "yes") }}
          <button class="btn btn-primary" id="form-username" type="submit">Créér</button>
          {{ else }}
          <button class="btn btn-primary" id="form-username" type="submit">Modifier</button>
          {{ end }}
          <input class='form-control' placeholder='ici l Annotation' type=hidden name='id' value="{{ .ecoute.ID }}">
        </div>
      </div>

        <div class='row'>
            <div class='col-md-6'>Terrain</div>
            <div class='col-md-6'>
                <select name='id_terrain' class="form-select" aria-label="Default select example">
                    {{ range .terrains }}
                    <option  value="{{.ID}}">{{.ID}} ( {{.Nom}} )</option>
                    {{ end }}
                </select>
          </div>
        </div>
        
        
        <div class='row'>
          <div class='col-md-6'>Sentiment  ( {{ .ecoute.Sentiment }} )
          
          </div>
          <div class='col-md-6'>
            <select name='sentiment' class="form-select" aria-label="Default select example">
              <option {{ if  (eq .ecoute.Sentiment 1) }} selected  {{ end }} value="1">1</option>
              <option {{ if  (eq .ecoute.Sentiment 2) }} selected  {{ end }} value="2">2</option>
              <option {{ if  (eq .ecoute.Sentiment 3) }} selected  {{ end }} value="3">3</option>
              <option {{ if  (eq .ecoute.Sentiment 4) }} selected  {{ end }} value="4">4</option>
              <option {{ if  (eq .ecoute.Sentiment 5) }} selected  {{ end }} value="5">5</option>
          </select>

          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Annotation <img src="https://cdn1.iconfinder.com/data/icons/thincons/100/menu-128.png" width="17px" /></div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='ici l Annotation' type=text name='annotation' value="{{ .ecoute.Annotation }}">
          </div>
        </div>

        {{/* if and (eq .creation "yes") (eq .creation "yes") */}}
        {{ if  (eq .creation "yes") }}

        <div class='row'>
            <div class='col-md-6'>Fichier WAV {{ .ecoute.IdAudio }}</div>
            <div class='col-md-6'>
                <input name="file" placeholder="fichier..." class="form-username form-control" id="form-username" type="file" required>
            </div>
        </div>

        {{ end }}



        <br>

    </form>
  </div>

  <div class="card-footer text-muted">
    Création {{ printf "%.*s" 19 .ecoute.CreatedAt }} - Modification {{ printf "%.*s" 19 .ecoute.UpdatedAt }}
  </div>
  
</div>

{{ template "base/footer.html" . }}
{{ end }}
