{{ define "ecoutes/index.html" }}

{{ template "base/headeradmin.html" . }}

<h1>Liste des écoutes du terrain {{ $.terrain.ID }}</h1>
<div>
  
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Audio <i class="fa fa-file-audio"></i></th>
      <th>Sentiment</th>
      <th>Création <i class="fa fa-calendar"></i></th>
      <th>
        <div title="{{ $.terrain.InfoChamp1}}">{{$.terrain.Champ1}}</div>
        <a href="/" data-bs-toggle="collapse" data-bs-target="#aide1" aria-expanded="false">
          <i class="fas fa-info-circle"></i>
        </a>
        <p class="collapse list-unstyled" id="aide1">{{ $.terrain.InfoChamp1 }}</p>
      </th>
      <th>
        <div title="{{ $.terrain.InfoChamp2}}">{{$.terrain.Champ2}}</div>
        <a href="/" data-bs-toggle="collapse" data-bs-target="#aide2" aria-expanded="false">
          <i class="fas fa-info-circle"></i>
        </a>
        <p class="collapse list-unstyled" id="aide2">{{ $.terrain.InfoChamp2 }}</p>
      </th>
      <th>
        <div title="{{ $.terrain.InfoChamp3}}">{{$.terrain.Champ3}}</div>
        <a href="/" data-bs-toggle="collapse" data-bs-target="#aide3" aria-expanded="false">
          <i class="fas fa-info-circle"></i>
        </a>
        <p class="collapse list-unstyled" id="aide3">{{ $.terrain.InfoChamp3 }}</p>
      </th>
      <th>
        <div title="{{ $.terrain.InfoChamp4}}">{{$.terrain.Champ4}}</div>
        <a href="/" data-bs-toggle="collapse" data-bs-target="#aide4" aria-expanded="false">
          <i class="fas fa-info-circle"></i>
        </a>
        <p class="collapse list-unstyled" id="aide4">{{ $.terrain.InfoChamp4 }}</p>
      </th>
      <th>
        <div title="{{ $.terrain.InfoChamp5}}">{{$.terrain.Champ5}}</div>
        <a href="/" data-bs-toggle="collapse" data-bs-target="#aide5" aria-expanded="false">
          <i class="fas fa-info-circle"></i>
        </a>
        <p class="collapse list-unstyled" id="aide5">{{ $.terrain.InfoChamp5 }}</p>
      </th>
    </tr>
  </thead>
  <tbody>
    {{- range $INDEX, $item := $.ecoutes }}
    <tr align='center'>
      <td>
        <span class="badge bg-info">
          {{ $item.ID }}
        </span>
      <td class="table-primary">
        <!--
          <iframe src = "/admin/audio/{{.IdAudio}}" width="180" height="180"></iframe>

                  <a href title="Voir le LOGO1" onclick="PopupUrl('/admin/terrains/uploadlogo1/{{.ID}}','pop',550,350);"></a>
        <a href="/admin/audio/{{.IdAudio}}" width="180" height="180" title="{{ $item.IdAudio }}">
          <i class="fa fa-music" aria-hidden="true"></i></a>

          <a href title="Voir le LOGO1" onclick="PopupUrl('/admin/audio/{{.IdAudio}}','pop',550,350);">
            <i class="fa fa-music" aria-hidden="true"></i></a>
          -->
        {{ if (gt $item.IdAudio 0) }}
        <a href title="audio No {{ $item.IdAudio }}" onclick="window.open ('/admin/audio/inframe/{{$item.IdAudio}}','pop','toolbar=no, location=no, directories=no,status=no, menubar=no, scrollbars=yes, resizable=yes, copyhistory=no,width=350,height=250');">
          <i class="fa fa-music"></i>
        </a>
        {{ end }}

      </td>
      <td >
        {{ if (gt $item.Sentiment 0) }}

        {{ if (eq $item.Sentiment 1) }}
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 2) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 3) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 4) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ else if (eq $item.Sentiment 5) }}
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        <img src="/static/img/yellow_star.gif">
        {{ end }}
        {{ end }}
      </td>
      <td>{{ printf "%.*s" 10 .CreatedAt }}</td>
      <td>{{ .Champ1 }}
        
      </td>
      <td>{{ .Champ2 }}</td>
      <td>{{ .Champ3}}</td>
      <td>{{ .Champ4 }}</td>
      <td>{{ .Champ5 }}</td>
        {{/* printf "%#v" $item */}}
      
    </tr>
    {{ end }}

  </tbody>
</table>

{{ template "base/footer.html" . }}

{{ end }}
