{{ define "users/create.html" }}

{{ template "base/headeradmin.html" . }}

{{ template "base/errors.html" . }}

{{/* printf "%#v" . */}}

<div class="card">
  <div class="card-header">
    Formulaire de création d'un utilisateur
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <!-- <p class="card-text">le nom doit comporter 2 caractères minimum.</p>-->  
    <form action="/admin/users/create" method="POST">
      <input type="hidden" name="id" id="id" value="{{.ter.ID}}">

      <div class='row'>
        <div class='col-md-6'>Action</div>
        <div class='col-md-6'>
          <button class="btn btn-primary" type="submit">Créer</button>
          <button class="btn btn-secondary" type="button" onclick="javascript:window.history.back();">Retour</button>
        </div>
      </div>

        <div class='row'>
          <div class='col-md-6'>Nom</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='ici le nom' type=text name='username' value="">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Email</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='ici l e-mail' type=text name='email' value="">
          </div>
        </div>

        <div class="row">
          <div class='col-md-6'>Mot de passe</div>
          <div class='col-md-6'>
          <input name="newpwd" placeholder="ici entrez le nouveau mot de passe..." type="password" required>
          </div>
        </div>

    </form>
  </div>
  <div class="card-footer text-muted">
    {{/* printf "%#v" .ter */}}
    Date de création: {{.ter.CreatedAt}} - Date de modification: {{.ter.UpdatedAt}}
  </div>
</div>
{{/* printf "%#v" . */}}

{{ template "base/footer.html" . }}
{{ end }}
