{{ define "users/index.html" }}

{{ template "base/headeradmin.html" . }}

{{/* printf "%#v" . */}}

<h1>Liste des {{.nb }} utilisateur(s)</h1>
<div>
  
<table class="table table-striped table-bordered table-sortable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Téléphone</th>
      <th>Création</th>
      <th>Modification</th>
      <th>Dernière Connexion</th>
      <th>Terrain</th>
    </tr>
  </thead>
  <tbody>
    {{- range $INDEX, $item := $.users2 }}
    <tr>
      {{/* printf "%#v" $item */}}
      <td>
        <a href="/admin/users/update/{{.ID}}" title="Modifer">
          {{ .ID }}
      </a>
      </td>
      <td>{{ .Username }}</td>
      <td>{{ .Email }}</td>
      <td>{{ .MobilePhone }}</td>
      <td>{{ printf "%.*s" 10 .CreatedAt }}</td>
      <td>{{ printf "%.*s" 19 .UpdatedAt }}</td>
      <td>{{ printf "%.*s" 19 .LastLoggedAt }}</td>
      <td>{{ .IdTerrain }}</td>

      
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "base/footer.html" . }}

{{ end }}
