{{ define "users/update.html" }}
{{ template "base/headeradmin.html" . }}
{{ template "base/errors.html" . }}

{{/* printf "%#v" . */}}
{{/* printf "%#v" .user */}}
<div class="card">
  <div class="card-header">
    Formulaire de modification de l'utilisateur <span class="badge bg-warning">{{.user.ID}}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <!-- <p class="card-text">le nom doit comporter 2 caractères minimum.</p>-->  
    <form action="/admin/users/update/{{.user.ID}}" method="POST">
      <input type="hidden" name="id" id="id" value="{{.user.ID}}">

      <div class='row'>
        <div class='col-md-6'>Action</div>
        <div class='col-md-6'>
          <button class="btn btn-primary" type="submit">Modifier</button>
          <button class="btn btn-secondary" type="button" onclick="javascript:window.history.back();">Retour</button>
        </div>
      </div>

        <div class='row'>
          <div class='col-md-6'>Nom</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='ici le nom' type=text name='username' value="{{.user.Username}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Email</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='ici l e-mail' type=text name='email' value="{{.user.Email}}">
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>Téléphone mobile</div>
          <div class='col-md-6'>
            <input class='form-control' placeholder='ici le téléphone mobile' type=text name='mobile_phone' value="{{.user.MobilePhone}}">
          </div>
        </div>


        <div class="row">
          <div class='col-md-6'>Mot de passe</div>
          <div class='col-md-6'>
          <input name="newpwd" placeholder="ici entrez le nouveau mot de passe..." type="password">
          </div>
        </div>

        <div class="row">
          <div class='col-md-6'>Terrain</div>
          <div class='col-md-6'>
            <select name='id_terrain' class="form-select" aria-label="Default select example">
              {{ range .terrains }}
              <option  value="{{.ID}}">{{.ID}} ( {{.Nom}} )</option>
              {{ end }}
            </select>
          </div>
        </div>

    </form>
  </div>
  <div class="card-footer text-muted">
    {{/* printf "%#v" .ter */}}
    Date de création: {{ printf "%.*s" 10 .user.CreatedAt }} 
    - Date de modification: {{ printf "%.*s" 19 .user.UpdatedAt}}
    - Dernière connexion: {{ printf "%.*s" 19 .user.LastLoggedAt}}
  </div>
</div>
{{/* printf "%#v" . */}}

{{ template "base/footer.html" . }}
{{ end }}
